---
---

@import 'jekyll-theme-cayman';
.page-header {
  color: #000;
  text-align: center;
  background-color: #8ED4CA;
  background-image: linear-gradient(120deg, #F6F2E9, #8ED4CA);
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.08);
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    
    &:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #000;
}
body {
  color:black;
}

.main-content p {
  font-family:"Times New Roman",Times,serif;
}
.main-content {
  background-color: #FCFCFC;
}
